@import "tasks.css";

body {
    background-color: #f1f2f7;
    font-family: 'Open Sans', sans-serif;
    color: #797979;
    font-size: 13px;
}

.white-bg {
    background-color: #fff;
}

.panel {
    margin-top: 60px;
    padding: 15px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.1);
}

.panel-heading {
    border-color: #eff2f7;
    font-size: 16px;
    font-weight: 300;
}

.js-loggedin {
    display: none;
}

input-mini{
    width: 60px;
} 

.input-small{
    width: 90px;
}

.input-medium{
    width: 150px;
}

.input-large{
    width: 210px;
}

.input-xlarge{
    width: 270px;
}

.input-xxlarge{
    width: 530px;
}

.navbar-custom .navbar-nav > li > a:hover, .navbar-custom .navbar-nav > li > a:focus {
    text-shadow:0px 0px 1px black;
}

.navbar-custom .navbar-header > a {
    color: white;
}

.navbar-custom .navbar-nav > .active > a, .navbar-custom .navbar-nav > .active >   
a:hover, .navbar-custom .navbar-nav > .active > a:focus {
    color: white; /*BACKGROUND color for active*/
    background-color: #030033;
}

.navbar-custom .navbar-header > a {
    color: black;
    font-size: 120%;
}

.navbar-custom {
    border-color: #030033;
    box-shadow: 0px 1px 6px rgba(0,0,0,0.25);
    margin: 0px 10px 0px 10px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    color: #262626;
    text-decoration: none;
    background-color: #66CCFF;  /*change color of links in drop down here*/
}

.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    background-color: transparent; /*Change rollover cell color here*/
}


.navbar-custom .navbar-nav > li > a {
    font-size: 120%;
    color: black; /*Change active text color here*/
}

a {
    color: black;
}

input[type=submit]
{
    /* your styles here, You can just increase its font size below*/
    font-size: 16px; 
    font-weight: bold;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

.img-fix{
    visibility: hidden;
    position:fixed;
    bottom:0px;
    margin-left: -250px;
    left: 50%;
    bottom:-100px;
    transform: rotate(10deg);
}

